@import "tailwindcss";

.range-thumb {
  position: absolute;
  width: 100%;
  height: 0;
  pointer-events: none;
  appearance: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #fb923c; /* orange-400 */
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: #fb923c;
  cursor: pointer;
}
